@font-face {
	font-family: "Palatino Linotype Italic";
	src: url("../fonts/Palatino Linotype Italic/Palatino Linotype Italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OfficinaSerifBookC";
	src: url("../fonts/OfficinaSerif-BookCTT/OfficinaSerifBookC.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "geo-nms";
	src: url("../fonts/geo-nms/geonms-font.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}