.first-section{
	position: relative;
	background: black;
	overflow: hidden;
}
	.first-section .avaliable{
		display: none;
	}
	.first-section .content .logo{
		width: 100vw;
		height: 17vw;
		background-image: url("../img/logo.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.first-section .content .first-button{
		padding: 20px 30px;
		display: block;
		background: #FF0095;
		color: black;
		font-size: 30px;
		font-family: "EFNMacStyle8px";
		text-align: center;


		transition: all ease .2s;
	}


.second-section{
}
	.second-section .container{
		height: 100%;
		background: url("../img/second-section-bg.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;

		display: flex;
		justify-content: flex-end;
		align-items: center;

		position: relative;
	}
		.second-section .text-block{
			font-family: "EFNMacStyle8px";
			width: 100vw;
			padding: 17.85714285714286vw 3vw;
			text-align: justify;
			z-index: 2;
		}
			.second-section .text-block::before{
				content: '';
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;
				background: rgba(0,0,0,.5);				
			}
			.second-section .text-block h2{
				color: #FF0095;
				font-size: 8vw;
			}
			.second-section .text-block p{
				color: #00F0FF;
				font-size: 4.571428571428571vw;
				line-height: 1.2;
			}



.third-section{
	position: relative;
	z-index: 6;
	padding: 11vh 0 2vh 0;
}
	.third-section .information-block{
		font-family: "EFNMacStyle8px";
		box-sizing: border-box;
		padding: 11.02535832414553vh 2.380952380952381vw;
		border-radius: 5px;
		color: black;
		background: #00D0FFFF;
		box-shadow: 0 0 10px 5px #00437AFF;
		position: relative;
	}
	.third-section .information-block-num-1{
		z-index: 1;
		top: 6.64057331863286vh;
		left: 6.9047619047619vw;
		width: 66.78571428571429vw;
		transform: rotateY(-10deg) skewX(-10deg);
	}
		.third-section .information-block-num-1 p:first-child{
			font-size: 4.488095238095238vw;
		}
		.third-section .information-block-num-1 p:last-child{
			font-size: 4.3095238095238095vw;
		}
	.third-section .information-block-num-2{
		z-index: 3;
		top: -3.12679162072767vh;
		left: 43.80952380952381vw;
		width: 50.80952380952381vw;
		transform: rotateX(-50deg) rotateY(5deg) skewY(-10deg);
	}
		.third-section .information-block-num-2 p{
			font-size: 5.380952380952381vw;
		}
		.third-section .information-block::after{
			position: absolute;
			z-index: 6;
			top: 0;
			left: 0;
			width: inherit;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			background: rgba(0,0,0,.95);
			opacity: 0;
			color: #00D0FFFF;
			transition: all ease .3s;
		}
			.third-section .information-block-num-1::after{
				content: "УСПЕЙ ЗАКАЗАТЬ";
				font-family: "Headliner No. 45(ENG + RUS)";
				font-size: 8.6785714285714284vw;
			}
			.third-section .information-block-num-2::after{
				content: "ОГРАНИЧЕННУЮ";
				font-family: "Headliner No. 45(ENG + RUS)";
				font-size: 3.571428571428571vw;
			}
	.third-section .marketing-block-container{
		position: absolute;
		z-index: 0;
		right: 0;
		top: 0;
		width: calc(100vw - 2px);
		height: 100%;
		overflow: hidden;
		border: 1px solid transparent;
		transition: border ease .3s;
	}
		.third-section .marketing-block-container::after{
			content: '';
			position: absolute;
			z-index: 6;
			top: 0;
			left: 0;
			width: inherit;
			height: 100%;


			background: rgba(0,0,0,.95);
			color: #ff0095;
			opacity: 0;
			font-family: "Headliner No. 45(ENG + RUS)";
			font-size: 4.464285714285714vw;
			transition: all ease .3s;
		}
	.third-section a{
		position: absolute;
		z-index: 3;
		right: 13.39285714285714vw;
		top: 8vh;
		padding: 2.205071664829107vh 2.976190476190476vw;
		background: #DB0083;
		border: 1px solid transparent;
		box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
		color: black;
		font-size: 5.7857142857142856vw;
		font-family: "EFNMacStyle8px";
		transition: all ease .3s;
		transform: skewX(20deg);
	}
		.third-section a:hover{
			background: black;
			border: 1px solid #ff0095;
			color: #ff0095;
		}
			.third-section a:hover ~ .information-block::after{
				opacity: 1;
			}
			.third-section a:hover ~ .marketing-block-container::after{
				opacity: 1;
			}
			.third-section a:hover ~ .marketing-block-container{
				border: 1px solid #ff0095;
				box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
			}
	.third-section .bleak{
		z-index: 5;
		position: absolute;
		background: #ff0095;
		box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
		transition: all ease 1s;
	}
		.third-section .bleak[data-number="1"]{
			top: 42.79382579933848vh;
			left: 23.80952380952381vw;
			width: 5.9523809523809526vw;
			height: 0.5820286659316428vh;
		}
		.third-section .bleak[data-number="2"]{
			top: 44.10143329658214vh;
			left: 11.904761904761905vw;
			width: 14.88095238095238vw;
			height: 4.410143329658213vh;
		}
		.third-section .bleak[data-number="3"]{
			top: 49.61411245865491vh;
			left: 22.023809523809522vw;
			width: 10.714285714285714vw;
			height: 1.1025358324145533vh;
		}
		.third-section .bleak[data-number="4"]{
			top: 60.28004410143329vh;
			left: 32.738095238095234vw;
			width: 2.9761904761904763vw;
			height: 0.5512679162072767vh;
		}
		.third-section .bleak[data-number="5"]{
			top: 64.58765159867696vh;
			left: 44.64285714285714vw;
			width: 17.857142857142858vw;
			height: 1.1025358324145533vh;
		}
		.third-section .bleak[data-number="6"]{
			top: 66.89525909592061vh;
			left: 33.33333333333333vw;
			width: 17.857142857142858vw;
			height: 3.3076074972436604vh;
		}
		.third-section .bleak[data-number="7"]{
			top: 72.51047409040794vh;
			left: 26.785714285714285vw;
			width: 11.904761904761905vw;
			height: 0.8820286659316428vh;
		}




/* characrets page */
.character-section{
	position: relative;
	padding: 0 1vw;
	background: #0A0A0A;
	display: flex;
	flex-wrap: wrap;
}
	.character-section .menu-side{
			width: 30px;
		}
			.character-section .menu-side ul{
				padding: 1vh 0;
				width: inherit;
			}
				.character-section .menu-side ul li{
					position: relative;
					z-index: 4;
					width: 30px;
					height: 30px;
					background: #222;
					border: 2px solid #0C0C0CFF;
					border-radius: 5px;
					box-shadow: 2px 0 5px 0px #111,
						-2px 0 5px 0px #111,
						0px 2px 5px 0px #111,
						0px -2px 5px 0px #111,
						inset 2px 0 10px 2px #222,
						inset -2px 0 10px 2px #222,
						inset 0px 2px 10px 2px #222,
						inset 0px -2px 10px 2px #222,
						inset 7px 0 10px 2px #252525,
						inset -7px 0 10px 2px #252525,
						inset 0px 7px 10px 2px #252525,
						inset 0px -7px 10px 2px #252525;
					cursor: pointer;
					transition: all ease .4s;
				}

	.character-side{
		width: calc(100% - 11.904761904761905vw);
		position: relative;
		display: flex;
		align-items: center;
		font-family: "EFNMacStyle8px";
		background-position: left bottom;
		opacity: 0;
		transition: opacity ease .5s;
	}
		.character-block{
			position: absolute;
			width: 35.714285714285715vw;
			max-height: 70vw;
			right: 0;
			border-radius: 10px;
			padding: 1.1025358324145533vh 1.1904761904761905vw;
			overflow: auto;
		}
			.character-block h3{
				font-size: 4vw;
				margin-bottom: 2.2050716648291067vh;
			}
			.character-block p{
				font-size: 2vw;
			}
.error{
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 100px);
	height: 100px;
	width: 200px;

	display: none;
	align-items: flex-end;
	justify-content: center;

	color: red;
	font-size: 40px;
	font-family: "EFNMacStyle8px";

	background: url("../img/characters/error/error-text.png"), url("../img/characters/error/error-icon.png");
	background-repeat: no-repeat, no-repeat;
	background-size: 50px, 50px;
	background-position: center 58%, center center;
	animation: errorAnimation 2s ease-in-out infinite;
}
		@keyframes errorAnimation{
			0%{
				opacity: 0;
			}
			50%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
		}



.footer-section{
	background: black;
	display: flex;
	flex-flow: wrap column;
	justify-content: space-between;
}
	.news{
		display: flex;
		flex-flow: wrap column;
		padding: 5vh 2vw 5vh 2vw;
	}
		.news-block{
			box-sizing: border-box;
			width: 100%;
			padding: 2vh 2.380952380952381vw;
			margin-bottom: 1vh;
			background: #00C2FFFF;

			color: black;
			font-family: "EFNMacStyle8px";

			transition: all ease .2s;
		}
			.news-block:hover{
				background: white;
				color: black;
			}
			.news-block>*{
				margin-bottom: 2vw;
			}
			.news-block h2{
				text-transform: uppercase;
				font-size: 5vw;
			}
			.news-block hr{
				border: 1px solid black;
				width: 70%;
			}
			.news-block p{
				font-size: 3.5vw;
			}
	footer{
		box-sizing: border-box;
		background: black;
		height: 16vh;
		border: 2px solid #ff0095;

		display: flex;
		flex-flow: wrap column;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
	}
		footer .logo{
			width: 43vw;
			height: 7vw;
			background: url("../img/logo.png");
			background-size: cover;
			background-repeat: no-repeat;
		}
		footer .icons-container{
			display: flex;
			justify-content: space-between;
			width: 50vw;
		}
			footer .icons-container .icon:last-child{
				margin-top: 0.33076074972436603vh;
			}
			footer .icons-container a{
				color: #ff0095;
				font-size: 8vw;
			}
				footer .icons-container a:hover{
					color:  #00D0FFFF;
				}
		footer .run-line{
			font-size: 4vw;
			background: #ff0095;
			font-family: "EFNMacStyle8px";
			display: flex;
			align-items: center;
		}