/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.first-section
{
    position: relative;

    overflow: hidden;

    background: black;
}
.first-section .avaliable
{
    display: none;
}
.first-section .content .logo
{
    width: 100vw;
    height: 17vw;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.first-section .content .first-button
{
    font-family: 'EFNMacStyle8px';
    font-size: 30px;

    display: block;

    padding: 20px 30px;

    -webkit-transition: all ease .2s;
         -o-transition: all ease .2s;
            transition: all ease .2s;
    text-align: center;

    color: black;
    background: #ff0095;
}



.second-section .container
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    height: 100%;

    background: url('../img/second-section-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.second-section .text-block
{
    font-family: 'EFNMacStyle8px';

    z-index: 2;

    width: 100vw;
    padding: 17.85714285714286vw 3vw;

    text-align: justify;
}
.second-section .text-block::before
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(0,0,0,.5);
}
.second-section .text-block h2
{
    font-size: 8vw;

    color: #ff0095;
}
.second-section .text-block p
{
    font-size: 4.571428571428571vw;
    line-height: 1.2;

    color: #00f0ff;
}



.third-section
{
    position: relative;
    z-index: 6;

    padding: 11vh 0 2vh 0;
}
.third-section .information-block
{
    font-family: 'EFNMacStyle8px';

    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 11.02535832414553vh 2.380952380952381vw;

    color: black;
    border-radius: 5px;
    background: #00d0ffff;
    -webkit-box-shadow: 0 0 10px 5px #00437aff;
            box-shadow: 0 0 10px 5px #00437aff;
}
.third-section .information-block-num-1
{
    z-index: 1;
    top: 6.64057331863286vh;
    left: 6.9047619047619vw;

    width: 66.78571428571429vw;

    -webkit-transform: rotateY(-10deg) skewX(-10deg);
            transform: rotateY(-10deg) skewX(-10deg);
}
.third-section .information-block-num-1 p:first-child
{
    font-size: 4.488095238095238vw;
}
.third-section .information-block-num-1 p:last-child
{
    font-size: 4.3095238095238095vw;
}
.third-section .information-block-num-2
{
    z-index: 3;
    top: -3.12679162072767vh;
    left: 43.80952380952381vw;

    width: 50.80952380952381vw;

    -webkit-transform: rotateX(-50deg) rotateY(5deg) skewY(-10deg);
            transform: rotateX(-50deg) rotateY(5deg) skewY(-10deg);
}
.third-section .information-block-num-2 p
{
    font-size: 5.380952380952381vw;
}
.third-section .information-block::after
{
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: inherit;
    height: 100%;

    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;

    opacity: 0;
    color: #00d0ffff;
    background: rgba(0,0,0,.95);

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.third-section .information-block-num-1::after
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 8.6785714285714284vw;

    content: 'УСПЕЙ ЗАКАЗАТЬ';
}
.third-section .information-block-num-2::after
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 3.571428571428571vw;

    content: 'ОГРАНИЧЕННУЮ';
}
.third-section .marketing-block-container
{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;

    overflow: hidden;

    width: calc(100vw - 2px);
    height: 100%;

    -webkit-transition: border ease .3s;
         -o-transition: border ease .3s;
            transition: border ease .3s;

    border: 1px solid transparent;
}
.third-section .marketing-block-container::after
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 4.464285714285714vw;

    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;

    width: inherit;
    height: 100%;

    content: '';
    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;

    opacity: 0;
    color: #ff0095;
    background: rgba(0,0,0,.95);
}
.third-section a
{
    font-family: 'EFNMacStyle8px';
    font-size: 5.7857142857142856vw;

    position: absolute;
    z-index: 3;
    top: 8vh;
    right: 13.39285714285714vw;

    padding: 2.205071664829107vh 2.976190476190476vw;

    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
    -webkit-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
            transform: skewX(20deg);

    color: black;
    border: 1px solid transparent;
    background: #db0083;
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
            box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
}
.third-section a:hover
{
    color: #ff0095;
    border: 1px solid #ff0095;
    background: black;
}
.third-section a:hover ~ .information-block::after
{
    opacity: 1;
}
.third-section a:hover ~ .marketing-block-container::after
{
    opacity: 1;
}
.third-section a:hover ~ .marketing-block-container
{
    border: 1px solid #ff0095;
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
            box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
}
.third-section .bleak
{
    position: absolute;
    z-index: 5;

    background: #ff0095;
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
            box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
}
.third-section .bleak[data-number='1']
{
    top: 52.79382579933848vh;
    left: 23.80952380952381vw;

    width: 5.9523809523809526vw;
    height: .5820286659316428vh;
}
.third-section .bleak[data-number='2']
{
    top: 54.10143329658214vh;
    left: 11.904761904761905vw;

    width: 14.88095238095238vw;
    height: 4.410143329658213vh;
}
.third-section .bleak[data-number='3']
{
    top: 59.61411245865491vh;
    left: 22.023809523809522vw;

    width: 10.714285714285714vw;
    height: 1.1025358324145533vh;
}
.third-section .bleak[data-number='4']
{
    top: 70.28004410143329vh;
    left: 22.738095238095234vw;

    width: 2.9761904761904763vw;
    height: .5512679162072767vh;
}
.third-section .bleak[data-number='5']
{
    top: 74.58765159867696vh;
    left: 14.64285714285714vw;

    width: 17.857142857142858vw;
    height: 1.1025358324145533vh;
}
.third-section .bleak[data-number='6']
{
    top: 76.89525909592061vh;
    left: 23.33333333333333vw;

    width: 17.857142857142858vw;
    height: 3.3076074972436604vh;
}
.third-section .bleak[data-number='7']
{
    top: 82.51047409040794vh;
    left: 16.785714285714285vw;

    width: 11.904761904761905vw;
    height: .8820286659316428vh;
}




/* characrets page */
.character-section
{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0 1vw;

    background: #0a0a0a;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.character-section .menu-side
{
    width: 30px;
}
.character-section .menu-side ul
{
    width: inherit;
    padding: 3vh 0;
}
.character-section .menu-side ul li
{
    position: relative;
    z-index: 4;

    width: 30px;
    height: 30px;

    cursor: pointer;
    -webkit-transition: all ease .4s;
         -o-transition: all ease .4s;
            transition: all ease .4s;

    border: 2px solid #0c0c0cff;
    border-radius: 5px;
    background: #222;
    -webkit-box-shadow: 2px 0 5px 0 #111,
    -2px 0 5px 0 #111,
    0 2px 5px 0 #111,
    0 -2px 5px 0 #111,
    inset 2px 0 10px 2px #222,
    inset -2px 0 10px 2px #222,
    inset 0 2px 10px 2px #222,
    inset 0 -2px 10px 2px #222,
    inset 7px 0 10px 2px #252525,
    inset -7px 0 10px 2px #252525,
    inset 0 7px 10px 2px #252525,
    inset 0 -7px 10px 2px #252525;
            box-shadow: 2px 0 5px 0 #111,
    -2px 0 5px 0 #111,
    0 2px 5px 0 #111,
    0 -2px 5px 0 #111,
    inset 2px 0 10px 2px #222,
    inset -2px 0 10px 2px #222,
    inset 0 2px 10px 2px #222,
    inset 0 -2px 10px 2px #222,
    inset 7px 0 10px 2px #252525,
    inset -7px 0 10px 2px #252525,
    inset 0 7px 10px 2px #252525,
    inset 0 -7px 10px 2px #252525;
}
.character-section .menu-side ul li:first-child{
    margin-top: 30px;
}
.character-section .menu-side ul li:last-child{
    margin-bottom: 30px;
}

.character-side
{
    font-family: 'EFNMacStyle8px';

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: calc(100% - 11.904761904761905vw);

    -webkit-transition: opacity ease .5s;
         -o-transition: opacity ease .5s;
            transition: opacity ease .5s;

    opacity: 0;
    background-position: left bottom;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.character-block
{
    position: absolute;
    right: 0;

    overflow: auto;

    width: 35.714285714285715vw;
    height: 50%;
    padding: 1.1025358324145533vh 1.1904761904761905vw;
}
.character-block h3
{
    font-size: 4vw;

    margin-bottom: 2.2050716648291067vh;
}
.character-block p
{
    font-size: 3vw;
}
.error
{
    font-family: 'EFNMacStyle8px';
    font-size: 40px;

    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 100px);

    display: none;

    width: 200px;
    height: 100px;

    -webkit-animation: errorAnimation 2s ease-in-out infinite;
            animation: errorAnimation 2s ease-in-out infinite;

    color: red;
    background: url('../img/characters/error/error-text.png'), url('../img/characters/error/error-icon.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center 58%, center center;
    background-size: 50px, 50px;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@-webkit-keyframes errorAnimation
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes errorAnimation
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}



.footer-section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: black;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.news
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 5vh 2vw 5vh 2vw;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
}
.news-block
{
    font-family: 'EFNMacStyle8px';

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-bottom: 1vh;
    padding: 2vh 2.380952380952381vw;

    -webkit-transition: all ease .2s;
         -o-transition: all ease .2s;
            transition: all ease .2s;

    color: black;
    background: #00c2ffff;
}
.news-block:hover
{
    color: black;
    background: white;
}
.news-block > *
{
    margin-bottom: 2vw;
}
.news-block h2
{
    font-size: 5vw;

    text-transform: uppercase;
}
.news-block hr
{
    width: 70%;

    border: 1px solid black;
}
.news-block p
{
    font-size: 4vw;
}
footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 16vh;

    border: 2px solid #ff0095;
    background: black;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .logo
{
    width: 43vw;
    height: 7vw;

    background: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
footer .icons-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 50vw;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .icons-container .icon:last-child
{
    margin-top: .33076074972436603vh;
}
footer .icons-container a
{
    font-size: 8vw;

    color: #ff0095;
}
footer .icons-container a:hover
{
    color: #00d0ffff;
}
footer .run-line
{
    font-family: 'EFNMacStyle8px';
    font-size: 4vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: #ff0095;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
