/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.scroll-container
{
    position: relative;

    overflow: hidden;

    height: 100vh;
}
.scrolling-wheel
{
    -webkit-transition: all ease .5s;
         -o-transition: all ease .5s;
            transition: all ease .5s;
}
section
{
    position: relative;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
}
.first-section,
.slider-section,
.fifth-section,
.footer-section
{
    z-index: 3;
}


header
{
    position: absolute;
    z-index: 100;
    top: 1vw;
    left: 1vw;
}
header .header-btn
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 2.380952380952381vw;

    cursor: pointer;

    color: #00437aff;
}
header .header-btn:first-child
{
    color: #51dfffff;
}



#sections-title
{
    position: absolute;
    z-index: 100;
    top: 2vh;
    left: 20%;
}
#sections-title-text
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 4.166666666666667vw;

    color: rgba(255,255,255,.8);
}

#particles
{
    position: absolute;
    z-index: 2;
}




.first-section
{
    overflow: hidden;

    height: 100vh;

    background: black;
}
.first-section .container
{
    position: absolute;
    top: -10vh;
    left: 0;
}
.first-section .glitch
{
    position: absolute;
    top: 13vh;

    width: 100vw;
    height: 75vh;

    background-image: url('../img/video-glitch-bg.png'), -o-repeating-linear-gradient(top, rgba(255, 0, 148, .2) 4px, rgba(255, 255, 255, .2) 8px);
    background-image: url('../img/video-glitch-bg.png'), repeating-linear-gradient(to bottom, rgba(255, 0, 148, .2) 4px, rgba(255, 255, 255, .2) 8px);
    background-repeat: repeat, no-repeat;
    background-size: contain, cover;
}
.first-section .border-bottom
{
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 13vh;

    background: black;
}
.first-section .content
{
    position: relative;
    z-index: 40;
    top: 80vh;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 0 2.083333333333333vw;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.first-section .content .logo
{
    width: 460px;
    height: 86px;

    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.first-section .content .avaliable
{
    font-family: 'EFNMacStyle8px';
    font-size: 35px;
    font-weight: 900;

    margin-left: -100px;

    text-align: center;

    color: red;
}
.first-section .content .avaliable p:first-child
{
    margin-bottom: 2.061855670103093vh;
}
.first-section .content .avaliable .er-nums
{
    height: 30px;

    -webkit-animation: changeFontFamily ease 5s infinite;
            animation: changeFontFamily ease 5s infinite;
}
@-webkit-keyframes changeFontFamily
{
    90%
    {
        font-family: 'EFNMacStyle8px';
    }
    91%
    {
        font-family: 'xenois-regular';
    }
    100%
    {
        font-family: 'tellarite-regular';
    }
}
@keyframes changeFontFamily
{
    90%
    {
        font-family: 'EFNMacStyle8px';
    }
    91%
    {
        font-family: 'xenois-regular';
    }
    100%
    {
        font-family: 'tellarite-regular';
    }
}
.first-section .content .first-button
{
    font-family: 'EFNMacStyle8px';
    font-size: 20px;

    display: block;

    padding: 20px 90px;

    -webkit-transition: all ease .2s;
         -o-transition: all ease .2s;
            transition: all ease .2s;

    color: #ff0095;
    border-top: 3px solid #ff0095;
    border-bottom: 3px solid #ff0095;
    border-left: 3px solid #ff0095;
    background-image: url('../img/first-pre-order-btn.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.first-section .content .first-button:hover
{
    color: black;
    background-color: #ff0095;
}



.second-section
{
    padding: 10vh 0;
}
.second-section .container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    height: 100%;

    background: url('../img/second-section-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.second-section .text-block
{
    font-family: 'EFNMacStyle8px';

    position: relative;
    z-index: 2;

    width: 35.71428571428571vw;
    margin-right: 5.952380952380952vw;
    padding: 17.85714285714286vw 11.9047619047619vw;
}
.second-section .text-block::before
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;
    -webkit-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
            transform: skewX(45deg);

    border: 3px solid #ff0095;
    background: rgba(0,0,0,.5);
}
.second-section .text-block h2
{
    font-size: 2.976190476190476vw;

    color: #ff0095;
}
.second-section .text-block p
{
    font-size: 1.071428571428571vw;
    line-height: 1.5;

    color: #64cafe;
}





.third-section
{
    overflow: hidden;

    padding: 11.02535832414553vh 0;
}
.third-section .information-block
{
    font-family: 'EFNMacStyle8px';

    position: absolute;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 11.02535832414553vh 2.380952380952381vw;

    color: black;
    border-radius: 5px;
    background: #00d0ffff;
    -webkit-box-shadow: 0 0 10px 5px #00437aff;
            box-shadow: 0 0 10px 5px #00437aff;
}
.third-section .information-block-num-1
{
    z-index: 1;
    top: 17.64057331863286vh;
    left: 11.9047619047619vw;

    width: 26.78571428571429vw;

    -webkit-transform: rotateY(-10deg) skewX(-10deg);
            transform: rotateY(-10deg) skewX(-10deg);
}
.third-section .information-block-num-1 p:first-child
{
    font-size: 1.488095238095238vw;
}
.third-section .information-block-num-1 p:last-child
{
    font-size: 1.3095238095238095vw;
}
.third-section .information-block-num-2
{
    z-index: 3;
    top: 55.12679162072767vh;
    left: 23.80952380952381vw;

    width: 23.80952380952381vw;

    -webkit-transform: rotateX(-50deg) rotateY(5deg) skewY(-10deg);
            transform: rotateX(-50deg) rotateY(5deg) skewY(-10deg);
}
.third-section .information-block-num-2 p
{
    font-size: 2.380952380952381vw;
}
.third-section .information-block::after
{
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: inherit;
    height: 100%;

    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;

    opacity: 0;
    color: #00d0ffff;
    background: rgba(0,0,0,.95);

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.third-section .information-block-num-1::after
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 2.6785714285714284vw;

    content: 'УСПЕЙ ЗАКАЗАТЬ';
}
.third-section .information-block-num-2::after
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 3.571428571428571vw;

    content: 'ОГРАНИЧЕННУЮ';
}
.third-section .marketing-block-container
{
    position: absolute;
    z-index: 1;
    top: 22.05071664829107vh;
    right: 14.28571428571429vw;

    overflow: hidden;

    width: 47.61904761904762vw;
    height: 55.12679162072767vh;

    -webkit-transition: border ease .3s;
         -o-transition: border ease .3s;
            transition: border ease .3s;

    border: 1px solid transparent;
}
.third-section .marketing-block
{
    width: inherit;
    height: inherit;

    background-size: cover;
}
.third-section .marketing-block .noise
{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;

    width: inherit;

    background-repeat: no-repeat;
    background-size: cover;
}
@-webkit-keyframes makingSomeNoise
{
    0%
    {
        left: 10px;
    }
    100%
    {
        left: -10px;
    }
}
@keyframes makingSomeNoise
{
    0%
    {
        left: 10px;
    }
    100%
    {
        left: -10px;
    }
}
.third-section .marketing-block-container::after
{
    font-family: 'Headliner No. 45(ENG + RUS)';
    font-size: 4.464285714285714vw;

    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: inherit;
    height: 100%;

    content: 'ЛИНЕЙКУ КОЛЛЕКЦИОННОГО ИЗДАНИЯ CYBERPRANK 2077';
    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
    text-align: center;

    opacity: 0;
    color: #ff0095;
    background: rgba(0,0,0,.95);

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.third-section a
{
    font-family: 'EFNMacStyle8px';
    font-size: 1.7857142857142856vw;

    position: absolute;
    z-index: 3;
    right: 13.39285714285714vw;
    bottom: 8.820286659316428vh;

    padding: 2.205071664829107vh 2.976190476190476vw;

    -webkit-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
    -webkit-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
            transform: skewX(20deg);

    color: black;
    border: 1px solid transparent;
    background: #db0083;
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
            box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
}
.third-section a:hover
{
    color: #ff0095;
    border: 1px solid #ff0095;
    background: black;
}
.third-section a:hover ~ .information-block::after
{
    opacity: 1;
}
.third-section a:hover ~ .marketing-block-container::after
{
    opacity: 1;
}
.third-section a:hover ~ .marketing-block-container
{
    border: 1px solid #ff0095;
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
            box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
}
.third-section .bleak
{
    position: absolute;
    z-index: 5;

    -webkit-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;

    background: #ff0095;
    -webkit-box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
            box-shadow: 0 0 5px 1px rgba(255, 0, 170, .7);
}
.third-section .bleak[data-number='1']
{
    top: 40.79382579933848vh;
    left: 23.80952380952381vw;

    width: 5.9523809523809526vw;
    height: .8820286659316428vh;
}
.third-section .bleak[data-number='2']
{
    top: 44.10143329658214vh;
    left: 11.904761904761905vw;

    width: 14.88095238095238vw;
    height: 4.410143329658213vh;
}
.third-section .bleak[data-number='3']
{
    top: 49.61411245865491vh;
    left: 22.023809523809522vw;

    width: 10.714285714285714vw;
    height: 1.1025358324145533vh;
}
.third-section .bleak[data-number='4']
{
    top: 78.28004410143329vh;
    left: 32.738095238095234vw;

    width: 2.9761904761904763vw;
    height: .5512679162072767vh;
}
.third-section .bleak[data-number='5']
{
    top: 81.58765159867696vh;
    left: 44.64285714285714vw;

    width: 17.857142857142858vw;
    height: 1.1025358324145533vh;
}
.third-section .bleak[data-number='6']
{
    top: 84.89525909592061vh;
    left: 33.33333333333333vw;

    width: 17.857142857142858vw;
    height: 3.3076074972436604vh;
}
.third-section .bleak[data-number='7']
{
    top: 91.51047409040794vh;
    left: 26.785714285714285vw;

    width: 11.904761904761905vw;
    height: .8820286659316428vh;
}



.slider-section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.slider-wheel
{
    position: relative;

    width: 80.09615384615385vw;
    height: 76.05769230769231vh;
}
.slider-section .slider-wheel .slide
{
    position: absolute;
    top: 0;
    left: 0;

    -webkit-transition: all ease 1s;
         -o-transition: all ease 1s;
            transition: all ease 1s;

    opacity: 0;
}
.slider-section .slider-wheel .slide.show
{
    opacity: 1;
}
.slider-section .slider-wheel .slide img
{
    width: 80.09615384615385vw;
    height: 76.05769230769231vh;
}
.slider-buttons
{
    position: absolute;
    top: calc(50% - 25px);

    width: 50px;
    height: 50px;

    cursor: pointer;
    -webkit-transition: all ease .6s;
         -o-transition: all ease .6s;
            transition: all ease .6s;

    border: 6px double rgba(255, 0, 170, .7);
}
.slider-buttons span
{
    position: absolute;
    right: 0;

    display: block;

    width: 50px;
    height: 50px;

    border: 6px double rgba(255, 0, 170, .7);
}
.left-button
{
    right: 100%;
}
.right-button
{
    left: 100%;
}
.left-button span
{
    right: 0;
}
.right-button span
{
    left: 0;
}
.slider-buttons:hover
{
    border: 6px double #e00003ff;
}
.slider-buttons:hover span
{
    border: 6px double #e00003ff;
}




/* characrets page */
.character-section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: #0a0a0a;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.character-section .character-side
{
    width: calc(100% - 11.904761904761905vw);
}
.character-section .menu-side
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 11.904761904761905vw;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.character-section .menu-side ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 170px;
    height: 250px;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.character-section .menu-side ul li
{
    width: 60px;
    height: 60px;

    cursor: pointer;
    -webkit-transition: all ease .4s;
         -o-transition: all ease .4s;
            transition: all ease .4s;

    border: 2px solid #0c0c0cff;
    border-radius: 5px;
    background: #222;
    -webkit-box-shadow: 2px 0 5px 0 #111,
    -2px 0 5px 0 #111,
    0 2px 5px 0 #111,
    0 -2px 5px 0 #111,
    inset 2px 0 10px 2px #222,
    inset -2px 0 10px 2px #222,
    inset 0 2px 10px 2px #222,
    inset 0 -2px 10px 2px #222,
    inset 7px 0 10px 2px #252525,
    inset -7px 0 10px 2px #252525,
    inset 0 7px 10px 2px #252525,
    inset 0 -7px 10px 2px #252525;
            box-shadow: 2px 0 5px 0 #111,
    -2px 0 5px 0 #111,
    0 2px 5px 0 #111,
    0 -2px 5px 0 #111,
    inset 2px 0 10px 2px #222,
    inset -2px 0 10px 2px #222,
    inset 0 2px 10px 2px #222,
    inset 0 -2px 10px 2px #222,
    inset 7px 0 10px 2px #252525,
    inset -7px 0 10px 2px #252525,
    inset 0 7px 10px 2px #252525,
    inset 0 -7px 10px 2px #252525;
}

.character-side
{
    font-family: 'EFNMacStyle8px';

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-transition: opacity ease .5s;
         -o-transition: opacity ease .5s;
            transition: opacity ease .5s;

    opacity: 0;
    background-position: left bottom;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.character-block
{
    position: absolute;
    right: 0;

    width: 35.714285714285715vw;
    padding: 1.1025358324145533vh 1.1904761904761905vw;

    border-radius: 10px;
}
.character-block h3
{
    font-size: 1.7857142857142856vw;

    margin-bottom: 2.2050716648291067vh;
}
.character-block p
{
    font-size: 1.4285714285714286vw;
}
.error
{
    font-family: 'EFNMacStyle8px';
    font-size: 40px;

    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 250px);

    display: none;

    width: 500px;
    height: 350px;

    -webkit-animation: errorAnimation 2s ease-in-out infinite;
            animation: errorAnimation 2s ease-in-out infinite;

    color: red;
    background: url('../img/characters/error/error-text.png'), url('../img/characters/error/error-icon.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center 58%, center center;
    background-size: 250px, 250px;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@-webkit-keyframes errorAnimation
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes errorAnimation
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}



.footer-section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background: black;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.news
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 12.127894156560087vh 5.9523809523809526vw 0 5.9523809523809526vw;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap row;
        flex-flow: wrap row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.news-block
{
    font-family: 'EFNMacStyle8px';

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 45%;
    height: 25.05071664829107vh;
    margin-bottom: 5.512679162072767vh;
    padding: 4.410143329658213vh 2.380952380952381vw;

    -webkit-transition: all ease .2s;
         -o-transition: all ease .2s;
            transition: all ease .2s;

    color: black;
    background: #00c2ffff;
}
.news-block:hover
{
    color: black;
    background: white;
}
.news-block > *
{
    margin-bottom: 2.2050716648291067vh;
}
.news-block h2
{
    font-size: 1.7857142857142856vw;

    text-transform: uppercase;
}
.news-block hr
{
    width: 70%;

    border: 1px solid black;
}
.news-block p
{
    font-size: 1.0714285714285714vw;
}
footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100vw;
    height: 20vh;

    border: 2px solid #ff0095;
    background: black;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap column;
        flex-flow: wrap column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .logo
{
    width: 23.80952380952381vw;
    height: 7.717750826901874vh;

    background: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}
footer .icons-container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 20.833333333333332vw;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
footer .icons-container .icon:last-child
{
    margin-top: .33076074972436603vh;
}
footer .icons-container a
{
    font-size: 2.9761904761904763vw;

    color: #ff0095;
}
footer .icons-container a:hover
{
    color: #00d0ffff;
}
footer .run-line
{
    font-family: 'EFNMacStyle8px';
    font-size: .9523809523809524vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100vw;

    background: #ff0095;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
