.btn{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
  
	text-transform: uppercase;
	font-family: var(--main-font-family);
	cursor: pointer;
	transition: all ease .1s;
}
.btn-style-1{
	border: 1px solid var(--second-color);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--main-color);
	background: var(--second-color);
	width: 230px;
	height: 50px;
}
	.btn-style-1:hover{
		background: var(--third-color);
	}
.btn-style-2{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--second-color);
	color: var(--second-color);
	width: 230px;
	height: 50px;
}
	.btn-style-2:hover{
		color: var(--third-color);
		border-color: var(--third-color);
	}


.window-style-1 h3{
	text-transform: uppercase;
	font-family: var(--main-font-family);
	color: var(--second-color);
	margin-bottom: 15px;
}
.window-style-1 p{
	color: var(--third-color);
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 50px;

	font-family: var(--second-font-family);
	text-align: justify;
}

.unselected{
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
